#
# ## PostgreSQL
#
export PGDATA="$( pwd )"/_postgres.db

#
# ## PyEnv
#
export PYENV_ROOT="$( pwd )"/_pyenv
export WORKON_HOME="$( pwd )"/_workon_home

#
# ## Python Build
#
export PYTHON_BUILD_CACHE_PATH="$( pwd )"/_python_build_cache

#
# ## Pip
#
export PIP_CACHE_DIR="$( pwd )"/_pip_cache
export PIP_ROOT="$( pwd )"/_pip_root

#
# ## Airflow ##
#
export AIRFLOW_HOME="$( pwd )"/_airflow_home
export AIRFLOW_LOGS="$( pwd )"/_airflow_logs
export AIRFLOW_SCHEDULER_LOGS="$( pwd )"/_airflow_scheduler_logs

#### Unused ####

#
# ## PipEnv
#
# export PIPENV_CACHE_DIR="$( pwd )"/_pipenv_cache
# export PIPENV_VENV_IN_PROJECT=yes

# PATH_add "$PIP_ROOT"/usr/bin
PATH_add "$PYENV_ROOT"/bin
