export AIRFLOW_HOME="$( pwd )"/_airflow_home
export AIRFLOW_LOGS="$( pwd )"/_airflow_logs
export AIRFLOW_SCHEDULER_LOGS="$( pwd )"/_airflow_scheduler_logs
export PGDATA="$( pwd )"/_postgres.db
export PIPENV_CACHE_DIR="$( pwd )"/_pipenv_cache
export PIPENV_VENV_IN_PROJECT=yes
export PYENV_ROOT="$( pwd )"/_pyenv
export WORKON_HOME="$( pwd )"/_workon_home
PATH_add "$PYENV_ROOT"/bin
