#
# ## PostgreSQL
#
export PGDATA="$( pwd )"/_postgres.db

#
# ## PyEnv
#
export PYENV_ROOT="$( pwd )"/_pyenv

#
# ## Python Build
#
export PYTHON_BUILD_CACHE_PATH="$( pwd )"/_local/python_build_cache

#
# ## Pip
#
export PIP_CACHE_DIR="$( pwd )"/_local/pip_cache

#
# ## Airflow ##
#
export AIRFLOW_HOME="$( pwd )"/_airflow_home
export AIRFLOW_LOGS="$( pwd )"/_airflow_logs
export AIRFLOW_SCHEDULER_LOGS="$( pwd )"/_airflow_scheduler_logs
export AIRFLOW_GPL_UNIDECODE=yes


#
# ## PipEnv
#
export PIPENV_CACHE_DIR="$( pwd )"/_local/pipenv_cache
export PIPENV_VENV_IN_PROJECT=yes
export PIPENV_IGNORE_VIRTUALENVS=yes
export PIPENV_VERBOSE=yes
export PIPENV_YES=yes

#
# ## V-Env
#
export _VENV_ROOT=_venv

#
# ## Airflow
#
export AIRFLOW_GPL_UNIDECODE=yes

# PATH_add "$PYENV_ROOT"/bin
# eval "$( pyenv init - )"
