[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
apache-airflow = { extras = ["crypto", "s3", "kubernetes", "celery" ], version = "== 1.10.0" }
psycopg2-binary = {version = "== 2.7.5"}

[dev-packages]

[requires]
python_version = "3.6"
