[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
#apache-airflow = {extras = ["celery", "s3", "crypto", "kubernetes"], version = ">=1.8.2"}
apache-airflow = "*"
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.6"
